@keyframes appearleft {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearright {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.section {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  gap: 5%;
}

.line {
  display: flex;
  justify-content: space-between;
}

.leftHeader {
  font-size: 20rem;
  font-weight: bold;
  animation: appearleft 1.5s ease-in-out;
}

.rightHeader {
  text-align: end;
  font-size: 20rem;
  font-weight: bold;
  animation: appearright 1.5s ease-in-out;
}

.leftParagraph {
  text-align: left;
  font-size: 15rem;
  animation: appearleft 1.5s ease-in-out;
}

.rightParagraph {
  text-align: right;
  font-size: 15rem;
  animation: appearleft 1.5s ease-in-out;
}

@media (max-width: 767px) {
  .leftHeader {
    font-size: 8rem;
  }

  .rightHeader {
    font-size: 8rem;
  }

  .leftParagraph {
    font-size: 5rem;
  }

  .rightParagraph {
    font-size: 5rem;
  }
}

@meda (min-width : 768px) and (max-width : 1600px) {
  .leftHeader {
    font-size: 12rem;
  }

  .rightHeader {
    font-size: 12rem;
  }

  .leftParagraph {
    font-size: 8rem;
  }

  .rightParagraph {
    font-size: 8rem;
  }
}
