.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}
