@keyframes magnify {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.2;
  }
}

@keyframes mignify {
  0% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

@keyframes darkener {
  0% {
    opacity: 0;
  }

  100% {
    background: black;
    opacity: 0.8;
    border: 2px solid white;
  }
}

@keyframes lighter {
  0% {
    background: black;
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

.bento {
  position: relative;
  width: 300px;
  height: 500px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  aspect-ratio: 1;
  shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bento img {
  z-index: 0;
  width: 100%;
  height: 300px;
  border-radius: 12px;
  object-fit: contain;
}

.bento:hover {
  animation: magnify 0.3s forwards;
  z-index: 9999;
}

.bento:not(:hover) {
  animation: mignify 0.3s forwards;
}

.imageSection {
  width: 100%;
  height: 300px;
}

.abstract {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  flex: 1;
  padding: 10px 10px;
  gap: 10px;
}

.abstract span {
  font-weight: bold;
}

.title {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.duration {
  font-size: 1.1rem;
}

.stack {
  font-size: 1.1rem;
}

.myStack {
  font-size: 1.1rem;
}

.team {
  font-size: 1.1rem;
}

.main {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}

.main:hover {
  animation: darkener 0.3s ease-in-out forwards;
}

.main:not(:hover) {
  animation: lighter 0.3s ease-in-out forwards;
}

.main h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

.main h2 {
  font-size: 1rem;
  font-weight: bold;
}

.main p {
  font-size: 1rem;
}

@media (max-width: 767px) {
  .main h1 {
    font-size: 1rem;
    font-weight: bold;
  }

  .main h2 {
    font-size: 1rem;
    font-weight: bold;
  }

  .main p {
    font-size: 1rem;
  }
}
