.imageContainer {
  display: flex;
  width: 1000px;
  gap: 15px;
  overflow: scroll;
}

.imageCard {
  position: relative;
  min-width: 300px;
  min-height: 300px;
  border: 1px solid black;
  border-radius: 12px;
}

.imageCard img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: contain;
}

.imageContainer::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) and (max-width: 1600px) {
  .imageContainer {
    width: 500px;
  }
}

@media (max-width: 767px) {
  .imageContainer {
    width: 320px;
  }
}
