.imageContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 20px;
}

.imageCard {
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 12px;
  background: rgba(10, 25, 47, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageCard img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: contain;
}

.imageContainer::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) and (max-width: 1600px) {
  .imageCard {
    height: 350px;
  }
}

@media (max-width: 767px) {
  .imageContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .imageCard {
    height: 300px;
  }
}
