@keyframes appear {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

@keyframes disappear {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 100%;
  }
}

.menu {
  position: absolute;
  z-index: 1;
  flex: 1;
  background: #0d6efd;
  min-width: 360px;
  width: 100%;
  height: 100%;
  animation: appear 0.3s ease-out;
}

.disappear {
  display: none;
  /* position: absolute;
  background: #4b89dc;
  width: 100%;
  height: 100%;
  animation: disappear 0.5s ease-out forwards; */
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 100px 20px;
}

.link {
  padding: 10px;
  font-size: 2rem;
  color: white;
}

.link:after {
  display: block;
  content: "";
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.link:hover:after {
  transform: scaleX(1);
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
}
