.section {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 5% 5%;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 3rem;
  margin: 2rem 0;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 767~1600 px 시엔 2, 1fr*/
  /* ~767px 시엔 1, 1fr */
  flex-direction: row;
  gap: 2rem;
}

.labelTitle {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
  background-color: aliceblue;
}

.listContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.listItem {
  display: flex;
  gap: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.listItem label {
  width: 300px;
}

.listItem div {
  width: 100%;
  background-color: lightgray;
  border-radius: 5px;
}

@media (max-width: 1600px) {
  .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
  }
}
